ul{
	list-style-type:none;
    margin: 0;
    padding: 0;
}
li {
    float: right;
}
li a {
    display: block;
    width: 60px;
}
body{
	background-image:url("http://www.intrawallpaper.com/static/images/Silver-Blur-Background-Wallpaper.jpg");
}
button{
	background-color: transparent;
	width: 156px;
    font-family: MavenProBlack;
    border-color: transparent;
    font-size: 16px;
    line-height: 2.3;
	margin: 0px 0px 0px -20px;
    color: #ffffff;
}

.Logo{
	width: 156px;
    font-family: MavenProBlack;
    font-size: 20px;
    line-height: 2.3;
    color: #ffffff;
}
.Container{
	position:relative;
}
.Rectangle-5 {
	width: 156px;
	border-radius: 45px;
	background-color: #ff6318;
	border: solid 1px #979797;
    font-family: MavenProBlack;
    font-size: 15px;
    line-height: 2.3;
    color: #ffffff;
}
.Bitmap{
	width: 1440px;
	height: 900px;
}
.Arrow{
	position: absolute;
	bottom: 0;
	left: 45%;
	width:70px;
	height: 50px;
	background-color: transparent;
    margin: auto;
	}