* {
  @font-family: MavenProBlack;
}

body {
  margin: 0;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
}

.section-1-img {
    width: 100%;
    height: 100vh;
}

ul {
	list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
    margin-top: 11.5px;
}


button {
	background-color: transparent;
	height: 41px;
    border-color: transparent;
    font-size: 18px;
    line-height: 2.3;
    color: #ffffff;
    outline:none;
    margin-right: 45px;
	padding: 0;
    border: 0;
    font-weight: bold;
}

.logo {
	width: 250px;
    height: 49.7px;
    margin-left: 6px;
    margin-top: 13px;
    line-height: 2.3;
    color: #ffffff;
    float:left;
    overflow: hidden;
}
.logo img {
    width: 50%;

}

.rectangle-5 {
	width: 156px;
	height: 44px;
	border-radius: 45px;
	background-color: #ff6318;
	border: solid 1px #979797;
    font-size: 18px;
    line-height: 2.3;
    color: #ffffff;
    margin-right: 42px;
}

.arrow {	
	width:58px;
	height: 56px;
	background-color: transparent;
}

.arrow-position {
    margin-top: -15vh;
    margin-left: 47vw;
}
