body {
  margin: 0;
}

ul {
	list-style-type:none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    width: 60px;
}

button {
	background-color: transparent;
	height: 41px;
    @font-family: MavenProBlack;
    border-color: transparent;
    font-size: 18px;
    line-height: 2.3;
    color: #ffffff;
	
}

@font-face {
    font-family: 'MavenProBlack';
    src: url('/mavenpro/src/MavenProBlack.otf');
    src: local('MavenProBlack'), url('MavenProBlack.ttf') format('truetype');
    }

.Logo {
	width: 156px;
    line-height: 2.3;
    color: #ffffff;
}

.Container {
	position:relative;
}

.Rectangle-5 {
	width: 156px;
	height: 44px;
	border-radius: 45px;
	background-color: #ff6318;
	border: solid 1px #979797;
    @font-family: MavenProBlack;
    font-size: 18px;
    line-height: 2.3;
    color: #ffffff;
}

.Bitmap {
	width: 1440px;
	height: 900px;
}

.Arrow {
	position: absolute;
	bottom: 0;	
	left: 49%;
	width:58px;
	height: 56px;
	background-color: transparent;
    margin: auto;
	}